
@model Website_clothe.Models.User_and_account
<style>
    .btnlogin:hover {
        background-color: rgb(44, 216, 255)
    }
    .btnlogin:active {
        background-color: rgb(239, 255, 98)
    }

    .btnlogin {
        width: 130px;
        height: 45px;
        background-color: rgb(33, 130, 210);
        color: white;
        cursor: pointer;
        font-family: Arial;
        font-weight: bold;
        font-size: 20px;
        border: none;
        outline: none
    }
</style>
<div class="container-fluid d-flex justify-content-center" style="margin-top:160px;margin-bottom:160px">
    <div class="d-flex flex-column justify-content-center align-items-center" style="width:700px;">
        <div class="d-flex flex-column justify-content-start w-100">
            <h2>Đăng nhập</h2>
            <hr class="w-100" />
        </div>

        @using (Html.BeginForm("Login", "Access", FormMethod.Post, new
        {
            @class = "row w-100 "
        }))
        {
            @Html.AntiForgeryToken()
            @Html.ValidationSummary(true, "", new { @class = "text-danger" })
            <div class="form-group my-3">
                <div class="col-12">
                    @Html.TextBoxFor(m => m.username, new { @class = "w-100  form-control", placeholder = "Tên đăng nhập" })
                    @Html.ValidationMessageFor(m => m.username, "", new { @class = "text-danger" })
                    <span></span>
                </div>
            </div>
            <div class="form-group my-3">
                <div class="col-12">
                    @Html.PasswordFor(m => m.password, new { @class = "w-100  form-control", placeholder = "Mật khẩu" })
                    @Html.ValidationMessageFor(m => m.password, "", new { @class = "text-danger" })
                </div>
            </div>
            <div class="form-group">
                <div class="col-12 justify-content-start">
                    <div class="row">
                        <div class="checkbox col-6">
                            @Html.CheckBoxFor(m => m.Remember)
                            <p style="display:inline-block;width:max-content;margin-left:10px">Ghi nhớ đăng nhập</p>
                        </div>
                        <div class="col-6  d-flex justify-content-end">
                            <a href="/Access/ForgetPass" style="text-decoration:none;color:rgb(30, 179, 231);font-weight:400">Quên mật khẩu</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="form-group mt-4">
                <div class="col-12">
                    <input type="submit" value="Đăng nhập" class="btnlogin"/>
                </div>
            </div>
        }

    </div>
</div>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-cookie/1.4.1/jquery.cookie.min.js"></script>
<script>
    $(document).ready(function () {
        // Kiểm tra xem cookie có tồn tại không
        var usernameCookie = $.cookie("Username");
        var passwordCookie = $.cookie("Password");

        if (usernameCookie && passwordCookie) {
            // Gán giá trị cookie vào trường input
            $('input[name="username"]').val(usernameCookie);
            $('input[name="password"]').val(passwordCookie);
        }
    });

</script>